{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="pt-3" style="width: 60%;">
            {{ form.hidden_tag() }}
            <legend>
                <h4>Login</h4>
            </legend>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{form.username(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{form.password(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.login(class="btn btn-outline-info")}}
            </div>
            <div class="pt-2">
                <small class="text-muted">
                    Want to sign in with Google? <a class = "ml-2" href="{{ url_for('google') }}">Google Signin</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}