{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <legend>
            <h4>Register</h4>
        </legend>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{form.username(class="form-control is-invalid", placeholder="Between 5-20 characters long")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control", placeholder="Between 5-20 characters long") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{form.password(class="form-control is-invalid", placeholder="At least 8 characters")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control", placeholder="At least 8 characters") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm.label(class="form-control-label") }}
            {% if form.confirm.errors %}
                {{form.confirm(class="form-control is-invalid", placeholder="Enter same password as above")}}
                    <div class="invalid-feedback">
                        {% for error in form.confirm.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                {{ form.confirm(class="form-control", placeholder="Enter same password as above") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.register(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="pt-2">
        <small class="text-muted">
            Already have an account? <a class = "ml-2" href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
{% endblock content %}